<header *ngIf="user">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <a class="waves-effect waves-light btn transparent" [routerLink]="['/users']" >
          <i class="material-icons left">arrow_back</i>
          Regresar
        </a>
      </div>
    </div>
    <div class="row">
      <div class="profile col s4">
        <div>
          <img [src]="user.avatar" alt="">
        </div>
      </div>

      <div class="info col s8">
        <h3>
          {{user.first_name}} {{user.last_name}}
        </h3>
        <h6>
          {{user.email}}
        </h6>
      </div>

    </div>

  </div>
</header>
<div class="spacer"></div>
<section>
    <div class="container">
  <div class="row">
    <div class="col s8 offset-s4">
      <h5 class="grey-text text-darken-2">Este usuario aun no puede pertenecer a un club</h5>
    </div>
  </div>
      </div>
</section>