.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-content>.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0;
}