<div class="modal a-modal modal-fixed-footer">
    <div class="modal-content">
      <div class="title">
          <h4>Agregando Contacto</h4>
          <p>Para agregar un contacto solo llena los datos y haz click en <strong>Guardar.</strong></p>
      </div>
      <div class="row">
          <form class="col s12" [formGroup]="user">
        
              <div class="row">
      
                <div class="input-field col s6">
                  <input placeholder="Nombres" formControlName="first_name" type="text" class="validate">
                  <label for="first_name">Nombres</label>
                </div>
                <div class="input-field col s6">
                  <input placeholder="Apellidos" formControlName="last_name" type="text" class="validate">
                  <label for="first_name">Apellidos</label>
                </div>
      
              </div>
      
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Email" formControlName="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
      
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Avatar URL" formControlName="avatar" type="url" class="validate">
                  <label for="email">Avatar URL</label>
                </div>
              </div>
      
            </form>
      </div>
  
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">CANCELAR</a>
      <a (click)="saveUser()" class="modal-close waves-effect waves-green btn-flat">AGREGAR</a>
    </div>
  </div>